<a href="https://colab.research.google.com/github/khatana706/DATA-SCIENCE/blob/main/Loan_Prediction11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv('train.csv')

df.head()

FileNotFoundError: [Errno 2] File b'train.csv' does not exist: b'train.csv'

In [ ]:
import pandas as pd
df=pd.read_csv("F:\\BBAU\\BBAU\\train.csv")

df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [ ]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,500.000000,500.000000,482.000000,486.000000,459.000000
mean,5493.644000,1506.307840,144.020747,342.543210,0.843137
std,6515.668972,2134.432188,82.344919,63.834977,0.364068
min,150.000000,0.000000,17.000000,12.000000,0.000000
25%,2874.500000,0.000000,100.000000,360.000000,1.000000
50%,3854.000000,1125.500000,126.500000,360.000000,1.000000
75%,5764.000000,2253.250000,161.500000,360.000000,1.000000
max,81000.000000,20000.000000,700.000000,480.000000,1.000000

In [ ]:
X=df.drop(['Loan_Status','Loan_ID'], axis=1)
y=df['Loan_Status']

In [ ]:
X.isnull().sum()

Gender                9
Married               3
Dependents           12
Education             0
Self_Employed        27
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           18
Loan_Amount_Term     14
Credit_History       41
Property_Area         0
dtype: int64

In [ ]:
X['Gender'].value_counts()

Male      400
Female     91
Name: Gender, dtype: int64

In [ ]:
X['Gender'].fillna("Male", inplace=True)

In [ ]:
X.isnull().sum()

Gender                0
Married               3
Dependents           12
Education             0
Self_Employed        27
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           18
Loan_Amount_Term     14
Credit_History       41
Property_Area         0
dtype: int64

In [ ]:
X['Married'].value_counts()

Yes    322
No     175
Name: Married, dtype: int64

In [ ]:
X['Married'].fillna("Yes", inplace=True)
X.isnull().sum()

Gender                0
Married               0
Dependents           12
Education             0
Self_Employed        27
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           18
Loan_Amount_Term     14
Credit_History       41
Property_Area         0
dtype: int64

In [ ]:
X['Dependents'].value_counts()

0     288
1      81
2      79
3+     40
Name: Dependents, dtype: int64

In [ ]:
X['Dependents'].fillna(0,inplace=True)

In [ ]:
X['Self_Employed'].value_counts()

No     407
Yes     66
Name: Self_Employed, dtype: int64

In [ ]:
X['Self_Employed'].fillna('No',inplace=True)

In [ ]:
mean_loan=X['LoanAmount'].mean()
X['LoanAmount'].fillna(mean_loan,inplace=True)
X.isnull().sum()

Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History       41
Property_Area         0
dtype: int64

In [ ]:
X['Loan_Amount_Term'].fillna(X['Loan_Amount_Term'].mean(),inplace=True)
X['Credit_History'].fillna(X['Credit_History'].mean(),inplace=True)
X.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [ ]:
X=pd.get_dummies(X)
X.columns

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Gender_Female', 'Gender_Male',
       'Married_No', 'Married_Yes', 'Dependents_0', 'Dependents_0',
       'Dependents_1', 'Dependents_2', 'Dependents_3+', 'Education_Graduate',
       'Education_Not Graduate', 'Self_Employed_No', 'Self_Employed_Yes',
       'Property_Area_Rural', 'Property_Area_Semiurban',
       'Property_Area_Urban'],
      dtype='object')

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.30)

In [ ]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

lr.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
from sklearn.svm import SVC
svc = SVC()

svc.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dtf = DecisionTreeClassifier()
dtf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [ ]:
from sklearn.naive_bayes import GaussianNB
n_b = GaussianNB()
n_b.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()  
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
print(lr.score(X_test, y_test))
print(dtf.score(X_test, y_test))
print(n_b.score(X_test, y_test))
print(knn.score(X_test, y_test))
print(svc.score(X_test, y_test))

0.8
0.7
0.7866666666666666
0.64
0.6733333333333333

In [ ]:
gender=input("What is your gender (Male or Female):")
married=input("Married (Enter Yes or No):")
dependents=int(input("dependents value (Enter 0 or 1 or 2 or 3+):"))
Education=input("enter your education (Enter Graduate or Not Graduate)")
SelfEmployed=input("Self Employed (Enter Yes or No):")
Applicantincome=int(input("enter applicant income (Enter between 150 to 81000)"))
coapplicantincome=int(input("enter co applicant income(Enter ):"))
loanamount=int(input("enter loan amount:"))
loanamountterm=int(input("enter loan amount term:"))
credithistory=int(input("enter credit history:"))
propertyarea=input("enter property area:")

data = [[gender,married,dependents,Education,SelfEmployed,Applicantincome,coapplicantincome,loanamount,loanamountterm,credithistory,propertyarea]]

What is your gender (Male or Female):Male
Married (Enter Yes or No):Yes
dependents value (Enter 0 or 1 or 2 or 3+):2
enter your education (Enter Graduate or Not Graduate)Graduate
Self Employed (Enter Yes or No):Yes
enter applicant income (Enter between 150 to 81000)30000
enter co applicant income(Enter ):20000
enter loan amount:120000
enter loan amount term:240
enter credit history:0
enter property area:Urban

In [ ]:
newdf = pd.DataFrame(data, columns = ['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area'])

In [ ]:
newdf = pd.get_dummies(newdf)

In [ ]:
missing_cols = set( X_train.columns ) - set( newdf.columns )

In [ ]:
for c in missing_cols:
    newdf[c] = 0

In [ ]:
newdf = newdf[X_train.columns]

In [ ]:
yp=n_b.predict(newdf)
print(yp)

['N']

In [ ]:
if (yp[0]=='Y'):
    print("Your Loan is approved, Please contact at HDFC Bank Any Branch for further processing")
else:
    print("Sorry ! Your Loan is not approved")

Sorry ! Your Loan is not approved

In [ ]:
yp1=n_b.predict(newdf)
yp2=lr.predict(newdf)
yp3=dtf.predict(newdf)
yp4=knn.predict(newdf)
yp5=svc.predict(newdf)
print(yp1)

print(yp2)
print(yp3)
print(yp4)
print(yp5)

['N']
['N']
['N']
['N']
['Y']

In [ ]:
from sklearn.metrics import confusion_matrix 
y_predict=lr.predict(X_test)
results = confusion_matrix(y_test, y_predict) 
print('Confusion Matrix :')
print(results)
for i in range(5):
    print(y_predict[i],y_test.iloc[i])

Confusion Matrix :
[[22 27]
 [ 3 98]]
N Y
Y Y
N N
Y Y
N N

In [ ]:
for i in range(5):
    print(y_predict[i],"     ", y_test.iloc[i])

N       Y
Y       Y
N       N
Y       Y
N       N

In [ ]:
print(lr.predict_proba(X_test[0:5]))

[[0.93028262 0.06971738]
 [0.20177181 0.79822819]
 [0.91282802 0.08717198]
 [0.34604811 0.65395189]
 [0.77486448 0.22513552]]

In [ ]:
# save the model to disk
import pickle
filename = 'alok_model.sav'
tuples=(lr,X)
pickle.dump(tuples, open(filename, 'wb'))